
/* Pour centrer la page */
body {
    margin: 0 auto;
    max-width: 50em;
}


ul {
    list-style-type: none;
    margin: 2em 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline; /* Pour mettre en ligne notre menu */
    margin: 0 0.5em;
}

/* La mise en forme du header est géré avec les propriétés background */
header {
    background-color: #263d36;
    background-image: url("https://images.unsplash.com/photo-1601041084273-6114cad589d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 10vw 2em;
    text-align: center;
}
